body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    
}

html {
    scroll-behavior: smooth;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #000;
    position: fixed;
    width: 95%;
    top: 0;
    z-index: 1000;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 10px; /* Add padding to the left */
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
   
}

#heroVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(2px); 
}

.hero-content {
    max-width: 700px;
    z-index: 1;
}

.hero-content h1 {
    display: inline;
    font-weight: bold;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
}


.hero h2 {
    font-size: 26px;
    margin: 10px 0;
}

.hero p {
    font-size: 17px;
}

.hero button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out !important; /* Added transition for smooth animation */
}

.hero button:hover {
    transition: all 0.3s ease-in-out !important; /* Added transition for smooth animation */
    transform: scale(1.2); /* Increase size by 10% */
    cursor: pointer;
}

.about {
    padding: 50px 0;
    background-color: #000000;
    color: #ffffff;
   
}

.about h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    position: relative;
}

.about h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #333;
    margin: 10px auto 0;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.profile-image img {
    width: 350px;
    height: auto;
    border-radius: 30px;
    margin-top: -200px;
}

.skills {
    max-width: 600px;
    flex: 1;
   
}

.skills-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.skills-tags span {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    transition: all 0.3s ease-in-out !important; /* Added transition for smooth animation */
}

.skills-tags span:hover {
    transition: all 0.3s ease-in-out !important; /* Added transition for smooth animation */
    transform: scale(1.3); /* Increase size by 10% */
    cursor: pointer;
}


.skills-tags2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
}

.skills-tags2 span {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    transition: all 0.3s ease-in-out !important; /* Added transition for smooth animation */
}

.skills-tags2 span:hover {
    transition: all 0.3s ease-in-out !important; /* Added transition for smooth animation */
    transform: scale(1.3); /* Increase size by 10% */
    cursor: pointer;
}


.about-description {
    background-color: #282727;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-description h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-description p {
    font-size: 16px;
    line-height: 1.5;
}

.about-description a {
    display: inline-block;
    margin-top: 10px;
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}

.services span {
   
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
}

.portfolio {
   
    padding: 100px 50px;
    background-color: #2d2d2d;
}

.portfolio h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

.portfolio h2:after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    margin: 10px auto 0;
}

.edits {
    display: flex;
    justify-content: space-around;
}

.edit {
    text-align: center;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #333, 0 0 25px #333, 0 0 30px#333, 0 0 35px #333;
    }
    50% {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #333, 0 0 50px #333, 0 0 60px #333, 0 0 70px #333;
    }
    100% {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #333, 0 0 25px #333, 0 0 30px #333, 0 0 35px #333;
    }
}

.edit img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 0px; /* Optional: Add border radius */
    animation: glowing 2s infinite;
    border-radius: 20px; /* Add rounded corners */
    transition:  0.3s ease-in-out !important; /* Added transition for smooth animation */
}

.edit img:hover {
    transition: all 0.3s ease-in-out !important; /* Added transition for smooth animation */
    transform: scale(1.1); /* Increase size by 10% */
    cursor: pointer;
}

.testimonials {
    padding: 100px 50px;
    text-align: center;
    background-color: #111;
}

.testimonials h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

.testimonial {
    margin-bottom: 30px;
}

.contact {
   
    padding: 100px 50px;
    text-align: center;
    background-color: #000000;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

form input, form textarea {
    width: 300px;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

form button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #800080;
    color: #fff;
    cursor: pointer;
}

.contact-info p {
    margin: 5px 0;
}

a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(95, 95, 95);
    transition: all 0.1s ease-in-out !important; /* Added transition for smooth animation */

  }
  a:active {
    color: rgb(181, 181, 181);
  }


  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
footer {
    padding: 20px;
    text-align: center;
    background-color: #111;
}

footer a {
    color: #fff;
    text-decoration: none;
}





.contact-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 10px; /* Adjust padding as needed */
}

.contact-info {
    text-align: left; /* Align text to the left */
}

.contact-info p {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.contact-info img {
    width: 20px; /* Adjust the size of the icons */
    height: 20px;
    margin-right: 10px; /* Add some space between the icon and text */
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.contact-info img:hover {
    transform: scale(1.2); /* Scale the icon on hover */
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    width: 1000px; /* Adjust the maximum width as needed */
    height: 550px;
    margin: auto;
    overflow: hidden; /* Hide overflowing content */
    object-fit: scale-down;
}

.thumbnail  {
    object-fit: cover;
    width: 1000px; /* Adjust the maximum width as needed */
    height: 550px;
}

/* Hide the images by default */
.slide {
    display: none;
    width: 100%; /* Ensure images take full width of container */
    object-fit: scale-down;
}

/* Description of each slide */
.description {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width calculation */
}

/* Navigation dots */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Change the background color of active dots */
.active {
    background-color: #717171;
}

.game-icon {
    position: absolute;
    top: 50px; /* Adjust the top position as needed */
    left: 50px; /* Adjust the left position as needed */
    width: 200px; /* Adjust the width of the icon as needed */
    height: 200px; /* Maintain aspect ratio */
    z-index: 2; /* Ensure the icon appears above the slide content */
    animation: glowing 2s infinite;
    border-radius: 20px; /* Add rounded corners */
    object-fit: cover;
}

.game-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    z-index: 2; /* Ensure the icon appears above the slide content */
    background-color: #333 !important; /* Change background color on hover */
}

.game-button:hover {
    transition: all 0.3s ease-in-out !important; /* Added transition for smooth animation */
    transform: scale(1.1); /* Increase size by 10% */
    cursor: pointer;
}

.prev-point,
.next-point {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    z-index: 5; /* Ensure the icon appears above the slide content */
}

.prev-point {
    left: 10px;
    
}

.next-point {
    right: 10px;
}